<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    
    <!--header end-->
    
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
            
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-1"><p class="centered"><a href="#"><%= gravatar_for @user %></a></p></div>
                </div>
                <div class="row">
                  <h5 class="centered"><%= @user.name%></h5>
                  <p class="centered"><i class="fa fa-comment"></i> 0 | <i class="fa fa-heart"></i> 0</p>
                </div>
                
                <li class="mt">
                  <a class="active" href="#" >
                      <i class="fa fa-home"></i>
                      <span>Home</span>
                  </a>
                  <a href= "/upload">
                      <i class="fa fa-file-o"></i>
                      <span>Upload</span>
                  </a>
                </li>
                <li class="mt">
                    
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-9 main-chart">

                  <div class="row mtbox">
                    <aside class="col-md-12">
                      <section class="micropost_form">
                        <%= render 'shared/micropost_form' %>
                      </section>
                    </aside>

                  </div><!-- /row mt -->  
                  <div class="row mtbox">
                      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                        <div class="box1">
                  <span class="fa fa-heart-o"></span>
                  <h3>933</h3>
                        </div>
                  <p>933 People liked your page the last 24hs. Whoohoo!</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="fa fa-cloud"></span>
                  <h3>+48</h3>
                        </div>
                  <p>48 New files were added in your cloud storage.</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="fa fa-envelope-o"></span>
                  <h3>23</h3>
                        </div>
                  <p>You have 23 unread messages in your inbox.</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="fa fa-envelope"></span>
                  <h3>+10</h3>
                        </div>
                  <p>More than 10 news were added in your reader.</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="fa fa-database"></span>
                  <h3>OK!</h3>
                        </div>
                  <p>Your server is working perfectly. Relax & enjoy.</p>
                      </div>
                    
                    </div><!-- /row mt -->  
                
                  
                
                    
                  <div class="row mt">
                    <div class="col-md-12">
                      <h3>Friend Cycle</h3>
                      <%= render 'shared/feed' %>
                    </div>
                  </div><!-- /row -->
                  
                          
                  <div class="row">
                  </div><!-- /row -->
        
                </div><!-- /col-lg-9 END SECTION MIDDLE -->
                
                
    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->                  
                
                <div class="col-lg-3 ds">
                  <!--COMPLETED ACTIONS DONUTS CHART-->
                <h3>NOTIFICATIONS</h3>
                    <!-- First Action -->
                    <h4>News (<%= @user.microposts.count %>)</h4>
                    <% if @user.microposts.any? %>
                      <ol class="microposts">
                            <%= render @microposts %>
                      </ol>
                      <%= will_paginate @microposts %>
                    <% end %>
                    
                    

                     <!-- USERS ONLINE SECTION -->
                <h3>TEAM MEMBERS</h3>
                    <!-- First Member -->
                    <div class="desc">
                      <div class="thumb">
                        <img class="img-circle" src="https://github.com/Haiik/assets/blob/master/img/ui-divya.jpg?raw=true" width="35px" height="35px" align="">
                      </div>
                      <div class="details">
                        <p><a href="#">DIVYA MANIAN</a><br/>
                           <muted>Available</muted>
                        </p>
                      </div>
                    </div>

                      <!-- CALENDAR-->
                      <div id="calendar" class="mb">
                          <div class="panel green-panel no-margin">
                              <div class="panel-body">
                                  <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                      <div class="arrow"></div>
                                      <h3 class="popover-title" style="disadding: none;"></h3>
                                      <div id="date-popover-content" class="popover-content"></div>
                                  </div>
                                  <div id="my-calendar"></div>
                              </div>
                          </div>
                      </div><!-- / calendar -->
                    
                </div><!-- /col-lg-3 -->
            </div><! --/row -->
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
</section>

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.js"></script>
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery-1.8.3.min.js"></script>
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.scrollTo.min.js"></script>
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/jquery.sparkline.js"></script>


  <!--common script for all pages-->
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/common-scripts.js"></script>
  
  <script type="text/javascript" src="https://raw.githubusercontent.com/Haiik/assets/master/js/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="https://raw.githubusercontent.com/Haiik/assets/master/js/gritter-conf.js"></script>

  <!--script for this page-->
  <script src="https://raw.githubusercontent.com/Haiik/assets/master/js/sparkline-chart.js"></script>    
<script src="https://raw.githubusercontent.com/Haiik/assets/master/js/zabuto_calendar.js"></script>  

<script type="text/javascript">
      $(document).ready(function () {
      var unique_id = $.gritter.add({
          // (string | mandatory) the heading of the notification
          title: 'Welcome to Dashgum!',
          // (string | mandatory) the text inside the notification
          text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Free version for <a href="http://blacktie.co" target="_blank" style="color:#ffd777">BlackTie.co</a>.',
          // (string | optional) the image to display on the left
          image: 'https://github.com/Haiik/assets/blob/master/img/ui-sam.jpg?raw=true',
          // (bool | optional) if you want it to fade out on its own or just sit there
          sticky: true,
          // (int | optional) the time you want it to be alive for before fading out
          time: '',
          // (string | optional) the class name you want to apply to that specific message
          class_name: 'my-sticky-class'
      });

      return false;
      });
</script>

<script type="application/javascript">
      $(document).ready(function () {
          $("#date-popover").popover({html: true, trigger: "manual"});
          $("#date-popover").hide();
          $("#date-popover").click(function (e) {
              $(this).hide();
          });
      
          $("#my-calendar").zabuto_calendar({
              action: function () {
                  return myDateFunction(this.id, false);
              },
              action_nav: function () {
                  return myNavFunction(this.id);
              },
              ajax: {
                  url: "show_data.php?action=1",
                  modal: true
              },
              legend: [
                  {type: "text", label: "Special event", badge: "00"},
                  {type: "block", label: "Regular event", }
              ]
          });
      });
      
      
      function myNavFunction(id) {
          $("#date-popover").hide();
          var nav = $("#" + id).data("navigation");
          var to = $("#" + id).data("to");
          console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
      }
  </script>
