<% provide(:title, @course.course_title) %>
<h1>
  <%= @course.course_title %>
</h1>

<h2>
  <%= @course.originating_department %>
</h2>

<h4>
  <%= @course.course_code %>
</h4>

<h5>
  <%= @course.credit_value %>
</h5>

<h5>
  <%= @course.course_type %>
</h5>

<h5>
  <%= @course.semester %>
</h5>

<h5>
  <%= @course.teaching_language %>
</h5>

<h5>
  <%= @course.instructor %>
</h5>

<h5>
  <%= @course.in_email %>
</h5>

<h5>
  <%= @course.tutor %>
</h5>

<h5>
  <%= @course.tu_email %>
</h5>

<p>
  <%= @course.outline %>
</p>